<template name="adminLayout">
  <div class="steedos admin">
		{{# AdminLTE skin="green" sidebarMini="true" }}
			{{> sidebar}}


			<div class="content-wrapper" style="min-height: {{minHeight}}">
				<div class="connection-status">
				{{> status}}
				</div>
				<div class="navigation-bar">

		            <a href="#" id="navigation-back" class="btn btn-default" title='{{_ "Steedos"}}'>
		              <i class="ion ion-chevron-left"></i><span></span>
		            </a>

					<span class="navigation-title">
							<a href="{{urlPrefix}}/admin/view/{{$.Session.get 'admin_collection_name'}}/">{{admin_collection_title}}</a>
					</span>
					<div class="pull-right">
					{{#if $.Session.get 'admin_collection_name'}}
						<a href="{{urlPrefix}}/admin/new/{{$.Session.get 'admin_collection_name'}}/" class="btn btn-success" id="admin_create_btn">
						{{_ "New"}}
						</a>
					{{/if}}
					</div>
				</div>
				<!-- 
				{{#if $.Session.get 'admin_collection_name'}}
				<section class="content-header">
					<h1>
						{{admin_collection_title}}
						<small></small>
					</h1>
				  
					<ol class="breadcrumb">
						<li><a href="{{urlPrefix}}/">{{_ "Steedos"}}</a></li>
						<li><a href="{{urlPrefix}}/admin">{{_ "Settings"}}</a></li>
						{{#if $.Session.get 'admin_collection_name'}}
							<li><a href="{{urlPrefix}}/admin/view/{{$.Session.get 'admin_collection_name'}}/">{{admin_collection_title}}</a></li>
						{{/if}}
						{{#if $.Session.equals 'admin_collection_page' 'new'}}
							<li>New</li>
						{{/if}}
						{{#if $.Session.equals 'admin_collection_page' 'edit'}}
							<li>Edit</li>
						{{/if}}
					</ol>
				</section>
				<section class="content">
					{{> Template.dynamic template=main}}
				</section>
				{{else}}
					{{> Template.dynamic template=main}}
				{{/if}}  -->
				<section class="content">
					{{> Template.dynamic template=main}}
				</section>
			</div>
		{{/ AdminLTE}}
	
	{{> steedosLoading}}
  </div>
</template>

