<template name="override_AdminDashboard">

	<div class="cell content">

		<div class="bd">
			<div class="weui_cells_title">{{_ "Account Settings"}}</div>
			<div class="weui_cells weui_cells_access">
				<a class="weui_cell" href="{{urlPrefix}}/steedos/profile/#profile">
					<div class="weui_cell_hd"><i class="ion ion-android-person"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "Profile"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
				<a class="weui_cell" href="{{urlPrefix}}/steedos/profile/#avatar">
					<div class="weui_cell_hd"><i class="ion ion-image"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "Avatar"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
				<a class="weui_cell" href="{{urlPrefix}}/steedos/profile/#password">
					<div class="weui_cell_hd"><i class="ion ion-android-lock"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "Password"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
			</div>
		</div>

		{{#if isSpaceAdmin}}
		<div class="bd">
			<div class="weui_cells_title">{{spaceName}}</div>
			<div class="weui_cells weui_cells_access">
				<a class="weui_cell" href="/app/designer">
					<div class="weui_cell_hd"><i class="ion ion-shuffle"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "Workflow Designer"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
				<a class="weui_cell" href="{{urlPrefix}}/admin/view/organizations">
					<div class="weui_cell_bd weui_cell_primary">
						<i class="fa fa-sitemap"></i>&nbsp;{{_ "db_organizations"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
				<a class="weui_cell" href="{{urlPrefix}}/admin/view/space_users">
					<div class="weui_cell_hd"><i class="ion ion-person-stalker"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "db_space_users"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
				<a class="weui_cell" href="{{urlPrefix}}/admin/view/flow_roles">
					<div class="weui_cell_hd"><i class="ion ion-university"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "db_flow_roles"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
				<a class="weui_cell" href="{{urlPrefix}}/admin/view/flow_positions">
					<div class="weui_cell_hd"><i class="ion ion-android-happy"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "db_flow_positions"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
			</div>
		</div>

		{{/if}}

		<div class="bd">
			<div class="weui_cells weui_cells_access">
				<a class="weui_cell" href="{{urlPrefix}}/admin/view/spaces">
					<div class="weui_cell_hd"><i class="ion ion-android-globe"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "db_spaces"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
			</div>
		</div>

		<div class="bd">
			<div class="weui_cells weui_cells_access">
				<a class="weui_cell" href="/cn/help/">
					<div class="weui_cell_hd"><i class="ion ion-help-circled"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "Help"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
			</div>
		</div>


	</div>

</template>