<template name="instance_attachments" >
    <div class="panel panel-default instance-attachments">
        <div class="panel-heading heading">附件</div>
        <table class='table table-condensed attachments'>
            <tbody>
                <!-- {{#each this}}
                <tr>
                    <td colspan='3'>
                        <a href="{{getAttachmentURL this}}" target="_blank">
                           <span style="font-size:13px">{{this.filename}}</span>
                        </a>
                    </td>
                </tr>
                {{/each}} -->
                {{#if isUploading}}
                    {{#with FS.GetFile "instances" isUploading}}
                        {{#unless this.isUploaded}}
                            {{> FS.UploadProgressBar bootstrap=true class='progress-bar-success progress-bar-striped active' showPercent=true }}
                        {{/unless}}
                    {{/with}}
                {{/if}}
                <!-- {{#each attachments}}
                    <tr>
                        <td>   
                            <a href="{{url download=true}}" target="_parent">{{name}}</a>
                            
                            {{#FS.DeleteButton class="btn btn-danger btn-xs"}}Delete{{/FS.DeleteButton}}

                        </td>
                    </tr>
                {{/each}} -->

                {{#each this}}
                    <tr>
                        <td>   
                            {{#with FS.GetFile "instances" current._rev}}
                                <a href="{{url download=true}}" target="_parent">{{name}}</a>
                                {{#FS.DeleteButton class="btn btn-danger btn-xs"}}Delete{{/FS.DeleteButton}}
                            {{/with}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>