<template name="instance_attachments" >
    <div class="panel panel-default instance-attachments">
        <div class="panel-heading heading">附件</div>
        <table class='table table-condensed attachments'>
            <tbody>
                {{#if isUploading}}
                    {{#with FS.GetFile "instances" isUploading}}
                        {{#unless this.isUploaded}}
                            {{> FS.UploadProgressBar bootstrap=true class='progress-bar-success progress-bar-striped active' showPercent=true }}
                        {{/unless}}
                    {{/with}}
                {{/if}}

                {{#each this}}
                    {{#with FS.GetFile "instances" current._rev}}
                        <tr>
                            <td>
                                <a href="{{this.url download=true}}" target="_parent">{{this.name}}</a>
                                {{#if can_delete this.metadata.approve}}
                                    {{> _file_DeleteButton fileObj=this}}
                                {{/if}}
                            </td>
                        </tr>
                    {{/with}}
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="_file_DeleteButton">
    <button type="button" class="btn btn-danger btn-xs">Delete</button>
</template>
