<template name="instance_attachments" >

    {{#if this}}

    <div class="box instance_attachments">
        <div class="box-header  with-border"> 
            <h3 class="box-title">{{_ "Attachments"}}</h3>

            <button type="button" class="btn btn-default ins-upload" title='{{_ "Attachments"}}' style={{enabled_add_attachment}}><i class="fa fa-paperclip"></i><input type="file" name="file" class="ins-file-input"></button>


        </div>
        <div class="box-body">
                
            <table class='table table-condensed attachments'>
                <tbody>
                    {{#each this}}
                        {{> Template.dynamic template="instance_attachment" data=this}}
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>

    {{/if}}
    
</template>


<template name="instance_attachment" >
    <tr>
        <td class="ins-attach-view">
            <a href="{{getUrl current}}" class="ins_attach_href" target="_parent">{{filename}}</a>
            <a style="cursor: pointer;margin-left: 10px;" name="ins_attach_version" id="{{_id}}" >{{_ "Versions"}}</a>
            {{#if can_delete current.approve historys}}
                {{> _file_DeleteButton file_id=current._rev}}
            {{/if}}
        </td>
    </tr>
</template>

<template name="_file_DeleteButton">
    <div class="delete fa fa-times"></div>
</template>

<template name="ins_attach_version_modal" >
    
    <div class="modal fade" id="ins_attach_version" tabindex="-1" role="dialog" aria-labelledby="modalLabel2">
        <div class="modal-dialog" role="document">
          <div class="modal-content ins-modal">
                {{#with attach}}
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="modalLabel2">{{ filename }}</h4>
                </div>

                <div class="modal-body">
                    <div>
                        <span style="font-size: 17px;">{{_ "Versions"}}</span>
                        <div class="ins-upload" style="float: right;{{enabled_add_attachment}}">
                          <span class="ion ion-plus-round"  title='{{_ "Attachments"}}'></span>
                          <input type="file" name="file" class="ins-file-version-input">
                        </div>
                    </div>
                    <table style="width:100%;max-width:100%;background-color: #f5f5f5;">
                        <tbody>
                            
                            <tr>
                                <td class="ins-attach-version-view">
                                    <a href="{{getUrl current}}" class="ins_attach_href" target="_parent">{{filename}} {{_ "Current Version"}}</a>
                                    <br/>
                                    <label style="margin-bottom:0px;">{{attach_version_info current}}</label>
                                    {{#if current_can_delete current.approve historys}}
                                        {{> _file_version_DeleteButton file_id=current._rev}}
                                    {{/if}}
                                </td>
                            </tr>

                            {{#each historys}}
                                <tr>
                                    <td class="ins-attach-version-view">
                                        <a href="{{getUrl this}}" class="ins_attach_href" target="_parent">{{filename}}</a>
                                        <br/>
                                        <label style="margin-bottom:0px;">{{attach_version_info this}}</label>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">好</button>
                </div>
                {{/with}}
          </div>
        </div>
    </div>
</template>

<template name="_file_version_DeleteButton">
    <div  class="delete fa fa-times"></div>
</template>

