<template name="instanceform">

    <div class="navigation-bar btn-group">
        {{#if isMobile}}
        <button type="button" class="btn btn-default" id="instance_back" title="返回"><i class="fa fa-chevron-left"></i></button>
        {{/if}}
        <button type="button" class="btn btn-primary" id="instance_submit" style={{enabled_submit}}>提交</button>
        <button type="button" class="btn btn-default" id="instance_update" title="保存" style={{enabled_save}}><i class="fa fa-save"></i></button>
        <button type="button" class="btn btn-default" id="instance_remove" title="删除" style={{enabled_delete}}><i class="fa fa-remove"></i></button>
        <button type="button" class="btn btn-default" id="instance_to_print" title="打印" style={{enabled_print}}><i class="fa fa-print"></i></button>
        <button type="button" class="btn btn-default ins-upload" id="instance_add_attachment" title="附件" style={{enabled_add_attachment}}><i class="fa fa-paperclip"></i><input type="file" name="file" class="ins-file-input"></button>

        <button type="button" class="btn btn-default" id="instance_force_end" title="取消申请" style={{enabled_terminate}}><i class="fa fa-ban"></i></button>
        <button type="button" class="btn btn-default" id="instance_reassign" data-toggle="modal" data-target="#reassign_modal" title="转签核" style={{enabled_reassign}}><i class="fa fa-user"></i></button>
        <button type="button" class="btn btn-default" id="instance_relocate" data-toggle="modal" data-target="#relocate_modal" title="重定位" style={{enabled_relocate}}><i class="fa fa-random"></i></button>
        <div style='display:none'><input id="instanceId" value="{{instance._id}}"/></div>
    </div>

    <div class="instance">
        {{#if show_suggestion}}
            <div class="instance-suggestion box {{suggestion_box_style}}">
                <div class="box-body">

                    {{#if includes currentStep.step_type 'sign,counterSign'}}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{currentStep.name}}&nbsp;:&nbsp;&nbsp;</label>
                                <label class="radio-inline">
                                    <input type='radio' name='judge' value="approved" class='suggestion' checked="{{#if equals judge 'approved'}}checked{{/if}}" id="judge_approved"/>核准
                                </label>
                                <label class="radio-inline">
                                    <input type='radio' name='judge' value="rejected" class='suggestion' checked="{{#if equals judge 'rejected'}}checked{{/if}}"/>驳回
                                </label>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea name="" class="suggestion-control" id="suggestion">{{currentApprove.description}}</textarea>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">下一步骤&nbsp;:</label>
                                <select class="nextSteps form-control" name="nextSteps" id="nextSteps" multiple={{next_step_multiple}}>
                                    {{#each next_step_options }}
                                        <option value="{{id}}" selected={{selected}} steptype={{type}}>{{text}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" id="nextStepUsers_div">
                                <label class="control-label">处理人&nbsp;:</label>
                                
                                {{>Template.dynamic  template="afSelectUser" data=next_user_context}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}

        <div class="instance-form box {{instance_box_style}}">
            <div class="box-header  with-border">
                <h3 class="box-title">{{instance.name}}</h3>
                <span class="help-block"></span>

                <div class="applicant-wrapper">
                    <label class="control-label">提交人&nbsp;:</label>
                    {{>Template.dynamic  template="afSelectUser" data=applicantContext}}
                </div>
            </div>
            <div class="box-body">
                {{#autoForm id=instanceId schema=fields type=form_types doc=doc_values meteormethod='instance'}}
                    <div class="row">
                        {{#each steedos_form.fields}}
                            {{#if equals this.type 'table'}}
                                <div class="{{#if this.is_wide}}col-md-12{{else}}col-md-16{{/if}}">
                                
                                {{> Template.dynamic template="autoform_table" data=(innersubformContext this)}}
                                </div>
                            {{else}}
                                {{#if equals this.type 'section'}}
                                    <div class="col-md-12">
                                        <div class='panel panel-default section'>
                                            <div class="panel-heading"><div class="panel-title">{{this.code}}</div></div>
                                        </div>
                                    </div>
                                {{else}}
                                    <div class="{{#if this.is_wide}}col-md-12{{else}}col-md-6{{/if}}">
                                    {{> afFormGroup name=this.code}}
                                    </div>
                                {{/if}}
                            {{/if}}
                            
                        {{/each}}
                    </div>
                {{/autoForm}}
            </div>

        </div>

        {{> Template.dynamic template="instance_attachments" data=instance.attachments}}

        {{> Template.dynamic template="instance_traces" data=instance.traces}}

    </div>
</template>


