<template name="instance_button">
    <div class="navigation-bar btn-group">
        {{#if isMobile}}
        <button type="button" class="btn btn-default" id="instance_back" title="返回"><i class="fa fa-chevron-left"></i></button>
        {{/if}}
        <button type="button" class="btn btn-primary" id="instance_submit" style={{enabled_submit}}>提交</button>
        <button type="button" class="btn btn-default" id="instance_update" title="保存" style={{enabled_save}}><i class="fa fa-save"></i></button>
        <button type="button" class="btn btn-default" id="instance_remove" title="删除" style={{enabled_delete}}><i class="fa fa-remove"></i></button>
        <button type="button" class="btn btn-default" id="instance_to_print" title="打印" style={{enabled_print}}><i class="fa fa-print"></i></button>
        <button type="button" class="btn btn-default ins-upload" id="instance_add_attachment" title="附件" style={{enabled_add_attachment}}><i class="fa fa-paperclip"></i><input type="file" name="file" class="ins-file-input"></button>

        <button type="button" class="btn btn-default" id="instance_force_end" title="取消申请" style={{enabled_terminate}}><i class="fa fa-ban"></i></button>
        <button type="button" class="btn btn-default" id="instance_reassign" title="转签核" style={{enabled_reassign}}><i class="fa fa-user"></i></button>
        <button type="button" class="btn btn-default" id="instance_relocate" title="重定位" style={{enabled_relocate}}><i class="fa fa-random"></i></button>
        <div style='display:none'><input id="instanceId" value="{{instance._id}}"/></div>
    </div>
</template>
