/* CSS declarations go here */

.instanceContent {
    background: #ffffff;
}

.panel-controls{
    float:right;
    display: block;
    cursor:pointer;
}

.font-size-h3{
    font-size: 24px;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}
.text-center {
    text-align: center;
}

.bg-info{
    padding: 15px;
}

.instance-traces > .heading{
    font-size: 17px;
}

.traces {
    font-size: 14px;
}

.trace-item{
    height: 30px;
    background-color: #EEEEEE;
    font-weight: bold;
    font-size: 14px;
    color:rgb(64,64,64);
}

.approve-item{
    height: 30px;
    font-size: 13px;
}

.approve-item > .name{
    width: 160px;
    font-weight: bold;
}

.approve-item > .finish-date{
    width: 130px;
}

.approve-item > .approved{
    color: green;
}

.approve-item > .rejected{
    color: red;
}

.approve-item > .terminated{
    color: black;
}

.approve-item > .reassigned{
    color: black;
}

.approve-item > .description{
    border-top:0px;
    font-size: 14px;
    white-space: pre-line;
    color: black;
}

.section {
    
}

textarea.suggestion-control{
    height: auto;
}

.suggestion-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2d6de;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.suggestion-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.suggestion-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.suggestion-control:-ms-input-placeholder {
  color: #999;
}
.suggestion-control::-webkit-input-placeholder {
  color: #999;
}
.suggestion-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

textarea {
    resize: none;
}

@media (min-width: 768px){
    .container{
        width:760px;
    }
}

[data-required] label::after {
    content:' *';
    color:red;
}