<template name="instance_suggestion">
    {{#if show_suggestion}}
        <div class="instance-suggestion box {{suggestion_box_style}}">
            <div class="box-body">

                {{#if includes currentStep.step_type 'sign,counterSign'}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{currentStep.name}}&nbsp;:&nbsp;&nbsp;</label>
                            <label class="radio-inline">
                                <input type='radio' name='judge' value="approved" class='suggestion' checked="{{#if equals judge 'approved'}}checked{{/if}}" id="judge_approved"/>核准
                            </label>
                            <label class="radio-inline">
                                <input type='radio' name='judge' value="rejected" class='suggestion' checked="{{#if equals judge 'rejected'}}checked{{/if}}"/>驳回
                            </label>
                        </div>
                    </div>
                </div>
                {{/if}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea name="" class="suggestion-control" id="suggestion">{{currentApprove.description}}</textarea>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">下一步骤&nbsp;:</label>
                            <select class="nextSteps form-control" name="nextSteps" id="nextSteps" multiple={{next_step_multiple}}>
                                {{#each next_step_options }}
                                    <option value="{{id}}" selected={{selected}} steptype={{type}}>{{text}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" id="nextStepUsers_div">
                            <label class="control-label">处理人&nbsp;:</label>
                            
                            {{>Template.dynamic  template="afSelectUser" data=next_user_context}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>