<template name="instanceform">
    <div class="instanceContent">
        <div class="row" style="border-bottom:1px solid #3c8dbc;">
            <div class="container">
                <span class="help-block"></span>
                <div class="col-sm-6" style="padding:0px;">
                    <div class="button-group">
                        <button type="button" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <span class="help-block"></span>
                {{#if equals currentStep.step_type 'sign'}}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>{{currentStep.name}}&nbsp;:&nbsp;&nbsp;</label>
                            <label class="radio-inline">
                                <input type='radio' name='judge' value="approved" class='suggestion'/>核准
                            </label>
                            <label class="radio-inline">
                                <input type='radio' name='judge' value="rejected" class='suggestion'/>驳回
                            </label>
                        </div>
                    </div>
                </div>
                {{/if}}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea name="" class="suggestion-control"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">下一步骤&nbsp;:</label>
                            <select class="suggestion-control" name="nextSteps" id="nextSteps">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">处理人&nbsp;:</label>
                            <select class="suggestion-control" name="nextStepUsers" id="nextStepUsers">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                       <h3 class='font-size-h3'>{{instance.name}}</h3>
                    </div>
                </div>
            </nav>
            {{#autoForm id=instanceId schema=fields type="method" doc=doc_values meteormethod='instance'}}
                <div class="row">
                    {{#each steedos_form.fields}}
                        {{#if equals this.type 'table'}}
                            <div class="{{#if this.is_wide}}col-md-12{{else}}col-md-16{{/if}}">
                            
                            {{> Template.dynamic template="autoform_table" data=(innersubformContext this)}}
                            </div>
                        {{else}}
                            {{#if equals this.type 'section'}}
                                <div class="col-md-12">
                                    <div class='panel panel-info section'>
                                        <div class="panel-heading">{{this.code}}</div>
                                    </div>
                                </div>
                            {{else}}
                                <div class="{{#if this.is_wide}}col-md-12{{else}}col-md-6{{/if}}">
                                {{> afFormGroup name=this.code}}
                                </div>
                            {{/if}}
                        {{/if}}
                        
                    {{/each}}
                </div>
                
            {{/autoForm}}

             <div class="row">
                <div class="col-md-12">
                    {{> Template.dynamic template="instance_attachments" data=instance.attachments}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{> Template.dynamic template="instance_traces" data=instance.traces}}
                </div>
            </div>
        </div>
    </div>
</template>


