<template name="reassign_modal">
  <div class="modal fade" id="reassign_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content ins-modal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalLabel2">转签核</h4>
        </div>

        <div class="modal-body">
          {{#autoForm id='reassign' schema=fields doc=values }}
            <p><span>当前步骤：</span><label id="reassign_currentStepName"></label></p>
            <p data-required="true">
              {{> afFormGroup name="reassign_users"}}
            </p>
            <textarea class="form-control" id="reassign_modal_text" placeholder="请填写转签核的理由。"></textarea>
          {{/autoForm}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "Cancel"}}</button>
          <button type="button" class="btn btn-primary" id="reassign_modal_ok">{{_ "OK"}}</button>
        </div>
      </div>
    </div>
  </div>
</template>