<template name="relocate_modal">
  <div class="modal fade" id="relocate_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalLabel2">重定位</h4>
        </div>

        <div class="modal-body">
          <p><span>当前步骤：</span>{{currentStepName}}</p>
          <p><span>下一步骤：</span><select class="suggestion-control" id="relocate_steps"></select></p>
          <p id="relocate_users_p"><span>处理人：</span><select class="suggestion-control" id="relocate_users"></select></p>
          <textarea class="form-control" id="relocate_modal_text" placeholder="请填写重定位的理由。"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="relocate_modal_ok">OK</button>
        </div>
      </div>
    </div>
  </div>
</template>