<template name="instance_traces" >

<div class="box instance-traces">
    <div class="box-header with-border"> 
        <h3 class="box-title">{{_ "instance_approval_history"}}</h3>
<!--         <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div> -->
    </div>
    <div class="box-body">

        <table class='table table-condensed traces'>
            <tbody>
                {{#each this}}

                <tr class="trace-item">
                    <td colspan='3'>{{getStepName this.step}}</td>
                </tr>
                    {{#each this.approves}}
                        <tr class="approve-item">
                            <td class="name">{{this.handler_name}}</td>
                            {{#if unempty this.finish_date}}
                            <td class="finish-date">{{dateFormat this.finish_date}}</td>
                            <td class="status {{this.judge}}"><span class='{{getApproveStatusIcon this.judge}}'></span>&nbsp;&nbsp;{{getApproveStatusText this.judge}}</td>
                            {{else}}
                            <td class="finish-date"></td>
                            <td class="status {{this.judge}}">{{_ "instance_in_progress"}}</td>
                            {{/if}}


                        </tr>
                        {{#if this.is_finished}}
                            {{#if unempty this.description}}
                            <tr class="approve-item">
                                <td class="description" colspan="3">{{this.description}}</td>
                            </tr>
                            {{/if}}
                        {{/if}}
                    {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

</template>