<template name="springboard">

<div class="navigation-bar">

    <button type="button" class="btn btn-default" data-toggle="offcanvas">
        <i class="fa fa-bars"></i>
    </button>

    <span class="navigation-title">
            {{_ "Steedos"}}
    </span>
    <div class="pull-right">
    </div>
</div>
<div class="springboard">
    <!-- <div class="hd">
        <h1 class="page_title">华炎云</h1>
        <p class="page_desc">无论海角天边，华炎总在你身边</p>
    </div> -->
    <div class="bd">
        <div class="weui_grids">
            <a href="{{absoluteUrl}}workflow/" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon ion-ios-list-outline"></i>
                </div>
                <p class="weui_grid_label">
                    {{_ "Steedos Workflow"}}
                </p>
            </a>
            <a href="/chat" class="weui_grid" target="_blank">
                <div class="weui_grid_icon">
                    <i class="icon ion-ios-chatboxes-outline"></i>
                </div>
                <p class="weui_grid_label">
                    {{_ "Steedos Chat"}}
                </p>
            </a>
            <a href="/drive" class="weui_grid" target="_blank">
                <div class="weui_grid_icon">
                    <i class="icon ion-ios-folder-outline"></i>
                </div>
                <p class="weui_grid_label">
                    {{_ "Steedos Drive"}}
                </p>
            </a>
            <a href="https://mail.steedos.com" class="weui_grid" target="_blank">
                <div class="weui_grid_icon">
                    <i class="icon ion-ios-email-outline"></i>
                </div>
                <p class="weui_grid_label">
                    {{_ "Steedos Mail"}}
                </p>
            </a>
            <a href="{{absoluteUrl}}admin" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon ion-ios-gear-outline"></i>
                </div>
                <p class="weui_grid_label">
                    {{_ "Settings"}}
                </p>
            </a>
            <a href="{{absoluteUrl}}designer" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon ion-ios-shuffle"></i>
                </div>
                <p class="weui_grid_label">
                    {{_ "Flow Designer"}}
                </p>
            </a>
           <!--  <a href="{{absoluteUrl}}cn/help" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <p class="weui_grid_label">
                    {{_ "Help"}}
                </p>
            </a> -->
        </div>
    </div>
</div>

</template>