.flow_list_box {
    a {
        cursor: pointer;
        color:#000;
    }
    .box.box-success {
        overflow: hidden;
        box-shadow: 0 0px 0px;
    }
    .weui_cell{ 
        .ion {
            font-size:20px;
        }
    }
} 
