<template name="instance_list">

    <div class="navigation-bar">

          <a href="/workflow/space/{{spaceId}}" class="btn btn-default" title='{{_ "Workflow"}}'>
            <i class="ion ion-chevron-left"></i><span></span>
          </a>

          <span class="navigation-title dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >{{boxName}} &nbsp;<i class="caret"></i>
            </a>
            <div class="dropdown-menu workflow-menu">
              {{> workflow_menu}}
            </div>
          </span>
          <div class="pull-right">
            <button type="button" class="btn btn-success" name="create_ins_btn">
            {{_ "New"}}
            </button>

          </div>
    </div>
    
    <div class="instance-list">
      <div class="toolbar">
          
          <button type="button" class="btn btn-default" title={{_ "workflow_export_search"}} name="show_flows_btn">
            <i class="ion ion-funnel"></i>
          </button>

          {{#if hasFlowId}}
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="{{enabled_export}}" title={{_ "workflow_export_data"}}>
              <i class="fa fa-download" aria-hidden="true"></i><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" type="0">{{_ "workflow_export_thismonth"}}</a></li>
              <li><a href="#" type="1">{{_ "workflow_export_lastmonth"}}</a></li>
              <li><a href="#" type="2">{{_ "workflow_export_thisyear"}}</a></li>
              <li><a href="#" type="3">{{_ "workflow_export_all"}}</a></li>
            </ul>
          </div>
          {{/if}}
          
          <div class="pull-right">
            
            <div class="has-feedback">
              <input type="text" id="instance_search" class="form-control" placeholder={{_ "Search"}} style="width:200px">
              <span class="ion-ios-search-strong form-control-feedback"></span>
            </div>


          </div>
      </div>
      
       

        {{> tabular table=TabularTables.instances selector=selector class="table table-striped table-condensed datatable-instances"}}

    </div>

</template>