<template name="springboard">

<div class="springboard animated zoomIn">
    <div class="navigation-bar">

        <button type="button" class="btn btn-default" data-toggle="offcanvas">
            <i class="fa fa-bars"></i>
        </button>

        <span class="navigation-title">
                {{_ "Steedos"}}
        </span>
        <div class="pull-right">
        </div>
    </div>

    <div class="bd">
        <div class="weui_grids">
            <a href="{{urlPrefix}}/workflow" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon ion-ios-list-outline"></i>
                </div>
                <p class="weui_grid_label">
                    {{_ "Steedos Workflow"}}
                </p>
            </a>
            <a href="/app/chat" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon ion-ios-chatboxes-outline"></i>
                </div>
                <p class="weui_grid_label">
                    {{_ "Steedos Chat"}}
                </p>
            </a>
            <a href="/app/drive" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon ion-ios-folder-outline"></i>
                </div>
                <p class="weui_grid_label">
                    {{_ "Steedos Drive"}}
                </p>
            </a>
            <a href="/app/mail" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon ion-ios-email-outline"></i>
                </div>
                <p class="weui_grid_label">
                    {{_ "Steedos Mail"}}
                </p>
            </a>
            <a href="{{urlPrefix}}/admin" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon ion-ios-gear-outline"></i>
                </div>
                <p class="weui_grid_label">
                    {{_ "Settings"}}
                </p>
            </a>
            <a href="{{urlPrefix}}/app/designer" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon ion-ios-shuffle"></i>
                </div>
                <p class="weui_grid_label">
                    {{_ "Flow Designer"}}
                </p>
            </a>
           <!--  <a href="{{absoluteUrl}}cn/help" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <p class="weui_grid_label">
                    {{_ "Help"}}
                </p>
            </a> -->
        </div>
    </div>
</div>

</template>