<template name="springboard">

<div class="springboard animated zoomIn">
    <div class="navigation-bar">

        <button type="button" class="btn btn-default" data-toggle="offcanvas">
            <i class="fa fa-bars"></i>
        </button>

        <span class="navigation-title">
                {{> space_switcher}}
        </span>
        <div class="pull-right">
        </div>
    </div>

    <div class="bd">
        <div class="weui_grids">
            {{#each apps}}
                {{#if equals this.name 'Flow Designer'}}
                    {{#if spaceId}}
                    <a href="{{urlPrefix}}/app/{{_id}}?spaceId={{spaceId}}" class="weui_grid">
                        <div class="weui_grid_icon">
                            <i class="ion {{icon}}"></i>
                            <span class="label label-danger">{{badge _id}}</span>
                        </div>
                        <p class="weui_grid_label">
                            {{_ name}}
                        </p>
                    </a>
                    {{/if}}
                {{else}}
                    <a href="{{urlPrefix}}/app/{{_id}}" class="weui_grid">
                        <div class="weui_grid_icon">
                            <i class="ion {{icon}}"></i>
                            <span class="label label-danger">{{badge _id}}</span>
                        </div>
                        <p class="weui_grid_label">
                            {{_ name}}
                        </p>
                    </a>
                {{/if}}
                
            {{/each}}

            {{#if isCloudAdmin}}
            <a href="/cms" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="ion ion-ios-paper-outline"></i>
                    <span class="label label-danger"></span>
                </div>
                <p class="weui_grid_label">
                    CMS
                </p>
            </a>
            {{/if}}
            
        </div>
    </div>
</div>

</template>