<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Steedos</title>
  
        <link rel="icon" type="image/png" sizes="192x192" href="/workflow/favicons/android-chrome-192x192.png">
        <link rel="manifest" href="/workflow/favicons/manifest.json">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#fff">
        <meta name="application-name">
        <link rel="apple-touch-icon" sizes="57x57" href="/workflow/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/workflow/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/workflow/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/workflow/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/workflow/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/workflow/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/workflow/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/workflow/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/workflow/favicons/apple-touch-icon-180x180.png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-mobile-web-app-title">
        <link rel="icon" type="image/png" sizes="228x228" href="/workflow/favicons/coast-228x228.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/workflow/favicons/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/workflow/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/workflow/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="230x230" href="/workflow/favicons/favicon-230x230.png">
        <link rel="shortcut icon" href="/workflow/favicons/favicon.ico">
        <link rel="yandex-tableau-widget" href="/workflow/favicons/yandex-browser-manifest.json">
        <meta name="msapplication-TileColor" content="#fff">
        <meta name="msapplication-TileImage" content="/workflow/favicons/mstile-144x144.png">
        <meta name="msapplication-config" content="/workflow/favicons/browserconfig.xml">
        <meta property="twitter:image" content="/workflow/favicons/twitter.png">
        <meta property="og:image" content="/workflow/favicons/open-graph.png">
</head>

<body class="" style="background-color: #222d32;">
</body>
