<template name="sidebar">
    <aside class="main-sidebar">
        {{> dock}}
        <div class="sidebar" id="scrollspy">
           <div class="user-panel">
            <div class="pull-left image">
              <img src="{{avatar}}" class="img-circle avatar-preview">
            </div>
            <div class="pull-left info">
              <p>{{displayName}}</p>
              <a href="#"><i class="ion-record text-success"></i> {{_ "Online"}}</a>
            </div>
          </div>
<!--           <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder= "{{_ 'Search'}}...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="ion fa-search"></i>
                  </button>
                </span>
            </div>
          </form> -->
          <ul class="nav sidebar-menu">
            <li class="header">{{_ "Steedos"}}</li>
            <li class="{{menuClass '/steedos/springboard'}}">
              <a href="{{urlPrefix}}/steedos/springboard">
                <i class="ion ion-ios-keypad"></i><span>{{_ "Apps"}}</span>
              </a>
            </li>
            <li class="{{menuClass '/workflow'}}">
              <a href="{{urlPrefix}}/workflow">
                <i class="ion ion-ios-list-outline"></i><span>{{_ "Steedos Workflow"}}</span>
                <i class="ion pull-right"><span class="label bg-red">{{inbox_count}}</span></i>
              </a>
            </li>
            <li>
              <a href="{{urlPrefix}}/chat">
                <i class="ion ion-ios-chatboxes-outline"></i><span>{{_ "Steedos Chat"}}</span>
              </a>
            </li>
            <li>
              <a href="{{urlPrefix}}/drive">
                <i class="ion ion-ios-folder-outline"></i><span>{{_ "Steedos Drive"}}</span>
              </a>
            </li>
            <li>
              <a href="{{urlPrefix}}/mail">
                <i class="ion ion-ios-email-outline"></i><span>{{_ "Steedos Mail"}}</span>
              </a>
            </li>

            <li class="header">{{_ "Settings"}}</li>
            <li class="{{menuClass '/admin'}}">
              <a href="{{urlPrefix}}/admin/">
                <i class="ion ion-ios-gear-outline"></i><span>{{_ "Settings"}}</span>
              </a>
            </li>
            <li>
                <a href="/cn/help/" target="_help"><i class="ion ion-help-circled"></i><span>{{_ "Help"}}</span></a>
            </li>
            <li>
                <a href="{{urlPrefix}}/steedos/logout"><i class="ion ion-power"></i><span>{{_ "Sign out"}}</span></a>
            </li>
          </ul>
        </div>
    </aside>
</template>