<template name="sidebar">
    <aside class="main-sidebar">
        {{> dock}}
        <div class="sidebar" id="scrollspy">
           <div class="user-panel">
            <div class="pull-left image">
              <img src="{{avatar}}" class="img-circle avatar-preview">
            </div>
            <div class="pull-left info">
              <p>{{displayName}}</p>
              <a href="#"><i class="ion-record text-success"></i> {{_ "Online"}}</a>
            </div>
          </div>
<!--           <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder= "{{_ 'Search'}}...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="ion fa-search"></i>
                  </button>
                </span>
            </div>
          </form> -->
          <ul class="nav sidebar-menu">
            <li class="header">{{_ "Steedos Workflow"}}</li>
            <li class="{{boxClass 'inbox'}}">
                <a href="{{urlPrefix}}/workflow/space/{{spaceId}}/inbox/"><i class="ion ion-archive"></i><span>{{_ "inbox"}}</span><small class="label pull-right bg-red">{{inbox_count}}</small></a>
            </li>
            <li class="{{boxClass 'outbox'}}">
                <a href="{{urlPrefix}}/workflow/space/{{spaceId}}/outbox/"><i class="ion ion-android-done-all"></i><span>{{_ "outbox"}}</span></a>
            </li>
            <li>
                <a href="#">
                  <i class="ion ion-android-person"></i> <span>{{_ "MY APPLICANT"}}</span>
                  <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li>
                      <a href="{{urlPrefix}}/workflow/space/{{spaceId}}/draft/"><i class="ion ion-compose"></i><span>{{_ "draft"}}</span><small class="label pull-right">{{draft_count}}</small></a>
                  </li>
                  <li class="{{boxClass 'pending'}}">
                      <a href="{{urlPrefix}}/workflow/space/{{spaceId}}/pending/"><i class="ion ion-load-a"></i><span>{{_ "pending"}}</span><small class="label pull-right">{{progress_count}}</small></a>
                  </li>
                  <li class="{{boxClass 'completed'}}">
                      <a href="{{urlPrefix}}/workflow/space/{{spaceId}}/completed/"><i class="ion ion-android-checkbox-outline"></i><span>{{_ "completed"}}</span><small class="label pull-right">{{finished_count}}</small></a>
                  </li>
                </ul>
            </li>
            <li class="{{boxClass 'monitor'}}">
                <a href="{{urlPrefix}}/workflow/space/{{spaceId}}/monitor/"><i class="ion ion-eye"></i><span>{{_ "monitor"}}</span></a>
            </li>
            <li>
              <a href="{{urlPrefix}}/admin/">
                <i class="ion ion-gear-b"></i><span>{{_ "Settings"}}</span>
                <!-- <i class="ion fa-angle-left pull-right"></i> -->
              </a>
            </li>

            <li class="header">{{_ "Steedos"}}</li>
            <li>
              <a href="{{urlPrefix}}/steedos">
                <i class="ion ion-android-apps"></i><span>{{_ "Apps"}}</span>
                <!-- <i class="ion fa-angle-left pull-right"></i> -->
              </a>
            </li>
            <li>
                <a href="/cn/help/" target="_help"><i class="ion ion-help-circled"></i><span>{{_ "Help"}}</span></a>
            </li>
            <li>
                <a href="{{urlPrefix}}/steedos/logout"><i class="ion ion-power"></i><span>{{_ "Sign out"}}</span></a>
            </li>
          </ul>
        </div>
    </aside>
</template>