<template name="admin_home">

	<div class="navigation-bar">

		<a href="/steedos/springboard" class="btn btn-default" title='{{_ "Steedos"}}'>
			<i class="ion ion-android-cloud-outline"></i><span></span>
		</a>

		<span class="navigation-title dropdown">
			{{_ "Steedos Admin"}}
		</span>
		<div class="pull-right">
		</div>
	</div>
	<div class="cell content">

		<div class="bd">
			<div class="weui_cells weui_cells_access">
				<a class="weui_cell navigation" href="/steedos/profile/">
					<div class="weui_cell_hd"><i class="ion ion-android-person"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "Account Settings"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
			</div>
		</div>

		{{#if isMobile}}
		{{else}}
			{{#if isSpaceAdmin}}
			<div class="bd">
				<div class="weui_cells_title">{{spaceName}}</div>
				<div class="weui_cells weui_cells_access">
					{{#if isSpaceOwner}}
					<a class="weui_cell navigation" href="/steedos/space/info">
						<div class="weui_cell_bd weui_cell_primary">
							<i class="ion ion-android-globe"></i>&nbsp;{{_ "spaces"}}
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					{{/if}}
					<a class="weui_cell navigation" href="/admin/view/organizations">
						<div class="weui_cell_bd weui_cell_primary">
							<i class="fa fa-sitemap"></i>&nbsp;{{_ "organizations"}}
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					<a class="weui_cell navigation" href="/admin/view/space_users">
						<div class="weui_cell_hd"><i class="ion ion-person-stalker"></i></div>
						<div class="weui_cell_bd weui_cell_primary">
							&nbsp;{{_ "space_users"}}
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					<a class="weui_cell navigation" href="/admin/view/flow_roles">
						<div class="weui_cell_hd"><i class="ion ion-university"></i></div>
						<div class="weui_cell_bd weui_cell_primary">
							&nbsp;{{_ "flow_roles"}}
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					<a class="weui_cell navigation" href="/admin/view/flow_positions">
						<div class="weui_cell_hd"><i class="ion ion-android-happy"></i></div>
						<div class="weui_cell_bd weui_cell_primary">
							&nbsp;{{_ "flow_positions"}}
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					<a class="weui_cell" href="/designer">
						<div class="weui_cell_hd"><i class="ion ion-shuffle"></i></div>
						<div class="weui_cell_bd weui_cell_primary">
							&nbsp;{{_ "Workflow Designer"}}
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>

				</div>
			</div>

			<div class="bd">
				<div class="weui_cells weui_cells_access">
					<a class="weui_cell navigation" href="/steedos/customize_apps">
						<div class="weui_cell_hd"><i class="ion ion-android-happy"></i></div>
						<div class="weui_cell_bd weui_cell_primary">
							&nbsp;{{_ "steedos_customize_apps"}}
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
				</div>
			</div>
			{{/if}}
		{{/if}}
<!-- 
		<div class="bd">
			<div class="weui_cells weui_cells_access">
				<a class="weui_cell" href="{{urlPrefix}}/admin/view/spaces">
					<div class="weui_cell_hd"><i class="ion ion-android-globe"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "spaces"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
			</div>
		</div> -->

		<div class="bd">
			<div class="weui_cells weui_cells_access">
				<a class="weui_cell" href="/steedos/help">
					<div class="weui_cell_hd"><i class="ion ion-help-circled"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "Help"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
			</div>
		</div>

		<div class="bd">
			<div class="weui_cells weui_cells_access">
				<a class="weui_cell" href="/steedos/logout">
					<div class="weui_cell_hd"><i class="ion ion-power"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "Sign out"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
			</div>
		</div>


	</div>

</template>