<template name="cms_theme_default">

	<div class="navigation-bar">


	    <button type="button" class="btn btn-default" data-toggle="offcanvas">
	        <i class="fa fa-bars"></i>
	    </button>


		<span class="navigation-title dropdown">
			{{Site.name}}
		</span>
		<div class="pull-right">
			<a class="btn btn-default" href="/cms/{{SiteId}}/admin"><i class="ion ion-ios-gear-outline"></i></a>
			<a class="btn btn-default" href="/site/{{SiteId}}" target="_blank"><i class="ion ion-ios-world-outline"></i></a>
		</div>
	</div>

	<section class="content-header">
        <h1>
          {{Site.name}}
          <small>{{Tag}}</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="/cms/{{SiteId}}"><i class="fa fa-dashboard"></i>{{_ "cms_home"}}</a></li>
		  {{#if Tag}}
          <li><a href="#">{{Tag}}</a></li>
          {{/if}}
          <!-- <li class="active">Top Navigation</li> -->
        </ol>
    </section>
    
	<div class="content cms default">

				{{#if Tag}}
					<div class="row">

						<div class="col-md-6">
							<div class="box">
								<div class="box-header with-border">
								  <h3 class="box-title">{{Tag}}</h3>
								</div>
								<div class="box-body no-padding weixin">

									<div class="article_list">
						
										{{#each Posts SiteId Tag 20}}
										<a class="list_item js_post" href="/cms/{{SiteId}}/t/{{Tag}}/p/{{_id}}">
											{{#if image}}
											<div class="cover">
												<img class="img js_img" src="/api/files/sites/{{image}}" alt="">
											</div>
											{{/if}}
											<div class="cont">
												<h2 class="title js_title">{{title}}</h2>
												<p class="desc">{{summary}}</p>
												<!-- <p>{{fromNow posted}}</p> -->
											</div>
										</a>
										{{/each}}
										
									</div>

								</div>
							</div>
						</div>
						
					</div>

				{{else}}

					<div class="row">

						<div class="col-md-6">
							<div class="box">
								<div class="box-header with-border">
								  <h3 class="box-title">{{_ "cms_recent_posts"}}</h3>
								</div>
								<div class="box-body no-padding weixin">

									<div class="article_list">
						
										{{#each Posts SiteId "" 20}}
										<a class="list_item js_post" href="/cms/{{SiteId}}/p/{{_id}}">
											{{#if image}}
											<div class="cover">
												<img class="img js_img" src="/api/files/sites/{{image}}" alt="">
											</div>
											{{/if}}
											<div class="cont">
												<h2 class="title js_title">{{title}}</h2>
												<p class="desc">{{summary}}</p>
												<!-- <p>{{fromNow posted}}</p> -->
											</div>
										</a>
										{{/each}}
										
									</div>

								</div>
							</div>
						</div>

						{{#if Post}}
							<div class="col-md-6">
								<div class="box">
									<div class="box-header with-border">
									  <h3 class="box-title">{{Post.title}}</h3>
									  <p>{{posted}}</p>
									</div>
									<div class="box-body">
										{{#if Post.image}}
										<img class="img js_img" src="/api/files/sites/{{Post.image}}" alt="">
										{{/if}}
										<p>{{Markdown Post.body}}</p>
										<ul>
										{{#each Attachments}}
											<li><a href="/api/files/cms_files/{{_id}}" alt="" target="_blank">{{original.name}}</a></li>
										{{/each}}
										</ul>
									</div>
								</div>
							</div>
						{{/if}}

					</div>

				{{/if}}

	</div>

</template>