<template name="cms_home">

	<div class="navigation-bar">

    <button type="button" class="btn btn-default" data-toggle="offcanvas">
        <i class="fa fa-bars"></i>
    </button>

		<span class="navigation-title dropdown">
			{{_ "Steedos CMS"}}
		</span>
		<div class="pull-right">
			
			<a class="btn btn-default navigation" href="#" data-router="/cms/admin"><i class="ion ion-ios-gear-outline"></i></a>
		</div>
	</div>
	<div class="content">

       
      <div class="cell">
          <div class="bd">
                <div class="weui_cells weui_cells_access">
                    {{#each cms_sites}}
                        <a class="weui_cell navigation" href="/cms/{{_id}}">
                            <div class="weui_cell_hd"><i class="ion ion-archive"></i></div>
                            <div class="weui_cell_bd weui_cell_primary">
                              &nbsp;{{name}}
                            </div>
                            <div class="weui_cell_ft">
                            </div>
                        </a>
                    {{/each}}
                </div>
          </div>
      </div>
      
	</div>
</template>