<template name="cms_post_list_item">

        <div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
                <img class="img-circle" src="/avatar/{{author}}" alt="User Image">
                <span class="username">{{title}}
                </span>
                <span class="description">{{author_name}} - {{fromNow posted}}</span>
              </div>
              <div class="box-tools">
                <!-- <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                  <i class="fa fa-circle-o"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <div class="box-body">
              {{#if image}}
              <img class="img-responsive pad" src="/api/files/sites/{{image}}" alt="Photo">
              {{/if}}  

              {{{PostSummary}}}
              
              <!-- <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
              <span class="pull-right text-muted">127 likes - 3 comments</span> -->
            </div>
            <div class="box-footer">
              <a href="{{PostURL _id}}">
                {{_ "cms_posts_read_all"}}
                <div class="pull-right">
                  <i class="ion ion-chevron-right"></i>
                </div>
              </a>
            </div>
        </div>
        
</template>
