<template name="cms_site_post">

	<div class="content">
		{{#each cms_posts}}
			<div class="box">
				<div class="box-header with-border">
					<div class="user-block">
						<img class="img-circle" src="/avatar/{{author}}" alt="User Image">
						<span class="username">{{title}}</span>
						<span class="description">{{author_name}} - {{fromNow posted}}</span>
					</div>
					<div class="box-tools">
						<!-- <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
							<i class="fa fa-circle-o"></i></button>
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
					</div>
				</div>
				<div class="box-body">
					{{#if image}}
					<img class="img-responsive pad" src="/api/files/cms_images/{{image}}" alt="Photo">
					{{/if}}  

					{{{renderMarkdown body}}}
					<!-- <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
					<button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
					<span class="pull-right text-muted">127 likes - 3 comments</span> -->
				</div>
			</div>
		{{/each}}
	</div>
</template>