<template name="cms_site_admin">

	<div class="navigation-bar">

		<a href="#" id="navigation-back" class="btn btn-default" title='{{_ "Steedos"}}'>
			<i class="ion ion-chevron-left"></i><span></span>
		</a>

		<span class="navigation-title dropdown">
			{{_ "cms_admin"}}
		</span>
		<div class="pull-right">
			
		</div>
	</div>

	<div class="content">

	  <div class="cell">

		  <div class="bd">

				<div class="weui_cells weui_cells_access">
					<a class="weui_cell navigation" href="#" data-router="/admin/view/cms_sites">
						<div class="weui_cell_hd"><i class="ion ion-archive"></i></div>
						<div class="weui_cell_bd weui_cell_primary">
						  &nbsp;{{_ "cms_sites"}}
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					<a class="weui_cell navigation" href="#" data-router="/admin/view/cms_categories">
						<div class="weui_cell_hd"><i class="ion ion-archive"></i></div>
						<div class="weui_cell_bd weui_cell_primary">
						  &nbsp;{{_ "cms_categories"}}
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					<a class="weui_cell navigation" href="#" data-router="/admin/view/cms_tags">
						<div class="weui_cell_hd"><i class="ion ion-archive"></i></div>
						<div class="weui_cell_bd weui_cell_primary">
						  &nbsp;{{_ "cms_tags"}}
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					<a class="weui_cell navigation" href="#" data-router="/admin/view/cms_posts">
						<div class="weui_cell_hd"><i class="ion ion-archive"></i></div>
						<div class="weui_cell_bd weui_cell_primary">
						  &nbsp;{{_ "cms_posts"}}
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					<!-- <a class="weui_cell navigation" href="#" data-router="/admin/view/cms_pages">
						<div class="weui_cell_hd"><i class="ion ion-archive"></i></div>
						<div class="weui_cell_bd weui_cell_primary">
						  &nbsp;{{_ "cms_pages"}}
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					<a class="weui_cell navigation" href="#" data-router="/admin/view/cms_categories">
						<div class="weui_cell_hd"><i class="ion ion-archive"></i></div>
						<div class="weui_cell_bd weui_cell_primary">
						  &nbsp;{{_ "cms_categories"}}
						</div>
						<div class="weui_cell_ft">
						</div>
					</a> -->
				</div>
			</div>
		</div>
	</div>
</template>