<template name="cms_site_post">

	<div class="navigation-bar">

		<button type="button" class="btn btn-default" data-toggle="offcanvas">
			<i class="fa fa-bars"></i>
		</button>

		<span class="navigation-title dropdown">
			<span>{{Site.name}}</span>
		</span>
		<div class="pull-right">
			<a class="btn btn-default" href="/cms/{{SiteId}}/admin"><i class="ion ion-ios-gear-outline"></i></a>
			<a class="btn btn-default" href="/site/{{SiteId}}" target="_blank"><i class="ion ion-ios-world-outline"></i></a>
		</div>
	</div>

	<div class="content cms home">

		<div class="row">

			<div class="col-md-3">
				{{> cms_site_menu}}
			</div>
			<div class="col-md-9">
   				{{#with Post}}
			    <div class="box box-widget">
			        <div class="box-header with-border">
			          <div class="user-block">
			            <img class="img-circle" src="/avatar/{{author}}" alt="User Image">
			            <span class="username">{{title}}
			            </span>
			            <span class="description">{{author_name}} - {{fromNow posted}}</span>
			          </div>
			          <div class="box-tools">
			            <!-- <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
			              <i class="fa fa-circle-o"></i></button>
			            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			            </button>
			            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
			          </div>
			        </div>
			        <div class="box-body">
						{{#if Image}}
							<img class="img-responsive pad" src="/api/files/sites/{{image}}" alt="Photo">
						{{/if}}  

						{{{Markdown body}}}
						
						<ul>
							{{#each Attachments}}
								<li><a href="/api/files/sites/{{_id}}" alt="" target="_blank">{{original.name}}</a></li>
							{{/each}}
						</ul>
			          <!-- <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
			          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
			          <span class="pull-right text-muted">127 likes - 3 comments</span> -->
			        </div>
			        <div class="box-footer">
			          
			        </div>
			    </div>
			    {{/with}}
			</div>
		</div>
	</div>
    
</template>