<template name="cms_site_menu">

          <a href="/admin/new/cms_posts" class="btn btn-primary btn-block margin-bottom">{{_ "cms_new"}}</a>

          <div class="box box-solid">
            <div class="box-header with-border">
                <a href="/cms/{{SiteId}}/"><h3 class="box-title">{{_ "cms_home"}}</h3></a>
              <div class="box-tools">
              </div>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                {{#if SubCategoriesCount CategoryId}}
                  {{#if CategoryId}}
                    <li class="{{CategoryActive CategoryId}}"><a href="/cms/{{SiteId}}/c/{{CategoryId}}"><i class="ion ion-ios-folder-outline"></i> {{Category.name}}<!-- <span class="label label-primary pull-right">12</span> --></a></li>
                  {{/if}}
                  {{#each SubCategories CategoryId}}
                    <li class="{{CategoryActive _id}}"><a href="/cms/{{SiteId}}/c/{{_id}}">{{#if CategoryId}}&nbsp;&nbsp;&nbsp;&nbsp;{{/if}}<i class="ion ion-ios-folder-outline"></i> {{name}}<!-- <span class="label label-primary pull-right">12</span> --></a></li>
                  {{/each}}
                {{else}}
                  {{#if ParentCategory}}
                    <li class="{{CategoryActive ParentCategory._id}}"><a href="/cms/{{SiteId}}/c/{{ParentCategory._id}}"><i class="ion ion-ios-folder-outline"></i> {{ParentCategory.name}}<!-- <span class="label label-primary pull-right">12</span> --></a></li>
                  {{/if}}
                  {{#each SubCategories Category.parent}}
                    <li class="{{CategoryActive _id}}"><a href="/cms/{{SiteId}}/c/{{_id}}">{{#if ParentCategory}}&nbsp;&nbsp;&nbsp;&nbsp;{{/if}}<i class="ion ion-ios-folder-outline"></i> {{name}}<!-- <span class="label label-primary pull-right">12</span> --></a></li>
                  {{/each}}
                {{/if}}
              </ul>
            </div>
          </div>

</template>