<template name="space_select">

<div class="container">
	<section class="content">
		<div class="row">
			{{#each spaces}}
			<div class="col-md-6 col-sm-6 col-xs-12">
				<a href="{{urlPrefix}}/space/{{_id}}">
					<div class="small-box bg-aqua">
						<div class="inner">
							<h3>{{name}}</h3>
							<p>&nbsp;</p>
						</div>
						<div class="icon">
							<i class="fa fa-globe"></i>
						</div>
						<span class="small-box-footer">{{_ "Select space"}} <i class="fa fa-arrow-circle-right"></i></span>
					</div>
				</a>
			</div>
			{{/each}}
			<div class="col-md-6 col-sm-6 col-xs-12">
				<a style="cursor: pointer;" id="space_add">
					<div class="small-box bg-aqua">
						<div class="inner">
							<h3 class="fa fa-plus"></h3>
							<p>&nbsp;</p>
						</div>
						<div class="icon">
							<i class="fa fa-plus"></i>
						</div>
						<span class="small-box-footer">{{_ "Add space"}} <i class="fa fa-arrow-circle-right"></i></span>
					</div>
				</a>
			</div>
		</div>
	</section>

</div>


</template>
