<template name="space_info">

    <div class="navigation-bar">

      <a href="/steedos/admin" class="btn btn-default" title='{{_ "Steedos Admin"}}'>
        <i class="ion ion-chevron-left"></i><span></span>
      </a>

      <span class="navigation-title dropdown">
        {{_ "spaces"}}
      </span>
      <div class="pull-right">
      </div>
    </div>
    
    <section class="content">
      <div class="box box-default">
        <div class="box-body">
          {{> quickForm collection="db.spaces" doc=space id="updateSpace" schema=schema type="update" fields="name,owner,admins,apps_enabled"}}
        </div>
      </div>
    </section>

</template>
