<template name="space_info">

    <div class="navigation-bar">

      <a href="#" id="navigation-back" class="btn btn-default" title='{{_ "Steedos"}}'>
        <i class="ion ion-chevron-left"></i><span></span>
      </a>

      <span class="navigation-title dropdown">
        {{_ "spaces"}}
      </span>
      <div class="pull-right">
      </div>
    </div>
    
    <section class="content">

        {{> quickForm collection="db.spaces" doc=space id="updateSpace" schema=schema type="update" fields="name,owner,admins"}}

    </section>

</template>
