
.dropdown .dropdown-space{
    padding: 10px; 
    overflow-y:auto;
    overflow-x:hidden;
    max-width:230px;
    min-width:200px;
    margin-left:-50px;
}

.dropdown .dropdown-space #switchSpace{
    cursor: pointer;
}