<template name="masterLayout">
  <div class="steedos">
        {{# AdminLTE skin="green" sidebarMini="true" }}
        	{{> sidebar}}


        	<div class="content-wrapper" style="min-height: {{minHeight}}">
        		{{> status}}
            	{{> Template.dynamic template=main}}
            </div>
        {{/ AdminLTE}}
        
    {{> flow_list_modal}}
    {{> force_end_modal}}
    {{> reassign_modal}}
    {{> relocate_modal}}
    {{> upload_progress_bar_modal}}
    {{> ins_attach_version_modal}}
  </div>
</template>

