<template name="springboard">

<div class="springboard animated zoomIn">
    <div class="navigation-bar">

        <button type="button" class="btn btn-default" data-toggle="offcanvas">
            <i class="fa fa-bars"></i>
        </button>

        <span class="navigation-title">
                {{_ "Steedos"}}
        </span>
        <div class="pull-right">
        </div>
    </div>

    <div class="bd">
        <div class="weui_grids">
            {{#each apps}}
            <a href="{{urlPrefix}}/app/{{_id}}" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="ion {{icon}}"></i>
                    <span class="label label-danger">{{getBadge _id getSpaceId}}</span>
                </div>
                <p class="weui_grid_label">
                    {{_ name}}
                </p>
            </a>
            {{/each}}
            
        </div>
    </div>
</div>

</template>