<template name="dock">
	<header class="steedos main-header">
    <div class="logo" style="overflow: visible">
      <span class="logo-lg">
        <!-- <a href="{{urlPrefix}}/" style="color: white"><B>{{_ "Steedos"}}</B></a> -->


          {{> space_switcher}}
      </span>
      <span class="logo-mini">
        <a href="{{urlPrefix}}/" style="color: white"><i class="ion ion-ios-home-outline"></i></a>
      </span> 
    </div>
       <!--  <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
        </nav> 

      -->

	</header>
</template>
