<template name="workflow_home">

    <div class="navigation-bar">
          {{#if isMobile}}
            <a href="/steedos/springboard" class="btn btn-default" title='{{_ "Steedos"}}'>
              <i class="ion ion-android-cloud-outline"></i><span></span>
            </a>
          {{else}}
            <button type="button" class="btn btn-default" data-toggle="offcanvas" >
              <i class="ion ion-navicon-round"></i>
            </button>
          {{/if}} 

          <span class="navigation-title dropdown">
            {{_ "Steedos Workflow"}}
          </span>
          <div class="pull-right">
            <button type="button" class="btn btn-success" name="create_ins_btn">
            {{_ "New"}}
            </button>

          </div>
    </div>
    <div class="content">
      {{>workflow_menu}}
    </div>
</template>