.workflow-main {
	margin: 0px;	
}

.instance-list-wrapper {
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #d2d6de;
	overflow-y: scroll;

	.instance-list-toolbar {
		padding-top: 10px;
	}

	.dataTable {
		background: white;
	    border-top: 1px solid #d2d6de;
	    margin-top: 10px !important;
	}
}

.instance-wrapper {
	padding-left: 10px;
	padding-right: 10px;
	overflow-y: scroll;

	.instance-toolbar {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}