@media (min-width: 767px) {
	.steedos.login {

	}
}

.steedos.login {
        .wrapper {
                /* background-color: white; */
        }

        .main-header {
                .navbar {
                        background-color: transparent;
                        padding-right: 20px;
                        box-shadow: 0 0 0 1px hsla(0,0%,100%,.13);
                }
                .btn {
                        margin-top: 8px;
                        margin-bottom: 8px;
                }
        }


        .content-wrapper {
            background-color: transparent;
        }

        .at-form {
                margin-top: 50px;
                background-color: white;
                padding: 20px;
        }

}
