<template name="loginLayout">

    <div class="skin-green layout-top-nav">

        <div class="wrapper">
            <header class="main-header">
                <nav class="navbar navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="/" class="navbar-brand"><b>{{_ "Steedos"}}</b></a>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <div class="navbar-collapse pull-left collapse" id="navbar-collapse" aria-expanded="false" style="height: 1px;">
                          <ul class="nav navbar-nav">
                            <li class="active"><a href="http://www.steedos.com/cn/help/" target="_blank">Help</a></li>
                            <!-- <li><a href="#">Link</a></li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Dropdown <span class="caret"></span></a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                              </ul>
                            </li> -->
                          </ul>
                          
                        </div>
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li><a href="/sign-in">{{_ 'Log in'}}</a></li>
                                <li><a href="/sign-up">{{_ 'Sign up'}}</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="content-wrapper" style="min-height: {{minHeight}}">
                <div id="container">
                    {{> Template.dynamic template=main}}
                </div>
            </div>
        </div>

    </div>

</template>