@media (min-width: 767px) {
	.steedos.login {
                .at-form {
                        padding: 25px;
                        margin-top: 80px;
                }
	}
}

.steedos.login {
        .wrapper {
                /* background-color: white; */
        }

        .main-header {
                .navbar {
                        background-color: transparent;
                        padding-right: 15px;
                        box-shadow: 0 0 0 1px hsla(0,0%,100%,.13);
                        .navbar-brand {
                            padding: 10px 15px;
                            img {
                                display: inline;
                            }
                        }
                }
                .btn {
                        margin-top: 8px;
                        margin-bottom: 8px;
                }
        }


        .content-wrapper {
            background-color: transparent;
        }

        .at-form {
                background-color: white;
        }

}
