<template name="loginLayout">


    <div class="skin-green layout-top-nav steedos login">

        <div class="wrapper">
            <header class="main-header">
                <nav class="navbar navbar-static-top">
                            <a href="{{urlPrefix}}" class="navbar-brand">
                                <img src="{{absoluteUrl}}/favicons/android-chrome-72x72.png" width="30" height="30">
                                <b>&nbsp;</b>
                            </a>

                            <div class="pull-right header-buttons" >
                                {{#if isLoggedout}}
                                    <button type="button" id="btnSignIn" class="btn btn-primary" >{{_ 'Log in'}}</button>&nbsp;
                                    <button type="button" id="btnSignUp" class="btn btn-default">{{_ 'Sign up'}}</button>
                                {{else}}
                                    <button type="button" id="btnLogout" class="btn btn-default">{{_ 'Sign out'}}</button>
                                {{/if}}
                              
                            </div>
                </nav>
            </header>

            <div class="content-wrapper" style="min-height: {{minHeight}}">
                    {{> Template.dynamic template=main}}
            </div>
        </div>

    </div>

    {{> steedosLoading}}

</template>